APP_TITLE=Memegram Orchestrator
APP_VERSION=1.0.0
DEBUG=false

AUTH_GRPC_HOST=auth-service
AUTH_GRPC_PORT=50051
AUTH_GRPC_TIMEOUT=10.0
REDIS_URL=redis://redis:6379/0

USER_GRPC_HOST=user-service
USER_GRPC_PORT=50052
USER_GRPC_TIMEOUT=10.0

