TEAM_ID=

PRODUCT_NAME=Memegram
PRODUCT_BUNDLE_IDENTIFIER=com.example.memegram.Memegram$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// Required for SQLDelight native driver (co.touchlab:sqliter) and SQLCipher dependencies in ComposeApp framework
OTHER_LDFLAGS = $(inherited) -lsqlite3 -lc++
